$font-family: Avenir, Helvetica, Arial, sans-serif;
$font-color: white;

$black-color: black;
$white-color: white;
$gray-color: rgb(146, 146, 146);
$purple-color: #8075fa;

$primary-color: var(--primary-color);
$secondary-color: rgb(26, 26, 26);
