$font-family: Avenir, Helvetica, Arial, sans-serif;
$font-color: white;

$black-color: black;
$white-color: white;
$gray-color: rgb(146, 146, 146);
$purple-color: #8075fa;
$pink-color: #ed65fd;
$blue-color: #6586fd;
$dark-purple-color: #2c109d;
$maroon-color: #5d045d;

$primary-color: var(--primary-color);
$secondary-color: rgb(26, 26, 26);
$error-color: #f44435;
$success-color: #68cd86;
$warn-color: #ffb648;
