@import "./variables";

* {
    color: $font-color;
    font-family: $font-family;
}

body {
    background-color: $black-color;
}

.gradient {
    background: linear-gradient(to right, $primary-color, $purple-color);
    background-size: 200% 100%;
    animation: gradient 5s ease-in-out infinite;
  }
  
@keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
}

h2.gradient {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-top: 2rem;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.primary-button {
    padding: 0.6rem;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 5px;
    border: 3px solid $primary-color;
    font-size: 1.1rem;
    font-weight: 800;
}
  
  .primary-button:hover {
    background-color: $secondary-color;
    color: $primary-color;
}
  
  .primary-button[disabled] {
    color: $gray-color;
    border-color: $gray-color;
    background-color: $secondary-color;
    cursor: not-allowed;
}
  
  .primary-button[disabled]:hover {
    color: $gray-color;
    border-color: $gray-color;
    background-color: $secondary-color;
}

.form-container p {
    margin-bottom: 0.8rem;
    margin-top: 1rem;

    .link-to-form {
        text-decoration: underline;
        color: $purple-color;
    }
}
